<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590744030274-ukapr3qs3e7l2ulvd6dkvv9pdah5q77e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590744030274-ukapr3qs3e7l2ulvd6dkvv9pdah5q77e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590744030274-vtlfava4lnnoka05koin4agj71ob69ul.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6o6wrNL8pW-6N8-xz54yZE4Qof7ZVE5E</string>
	<key>GCM_SENDER_ID</key>
	<string>590744030274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sunriza26</string>
	<key>PROJECT_ID</key>
	<string>sunriza26</string>
	<key>STORAGE_BUCKET</key>
	<string>sunriza26.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590744030274:ios:3312f6bd8cd558f03b31db</string>
</dict>
</plist>
